.value-container {
    display: flex;
    min-width: 75px;
    height: 32px;
    background: rgba(46, 50, 56, 0.05);
    border-radius: 4px;
    margin-right: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: rgb(22, 24, 35);
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-item {
    display: inline-block;
    width: 30px;
    text-align: center;
}

