.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: transform, opacity, -webkit-transform;
    transition-duration: var(--tux-modalTransitionDuration);
    transition-timing-function: linear;
}
