.wrapper {
    width: 100%;
    height: 100%;
}

.edit-video-container {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

// Edit video
.edit-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 84px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 0.5px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px;
    padding: 0 12px;
}

.edit-video-first-container {
    display: flex;
    align-items: center;
}

.number {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: rgba(22, 24, 35, 0.34);
    margin-right: 12px;
}

.video-image {
    width: 35px;
    height: 52px;
    margin-right: 8px;
}

.caption {
    width: 230px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(22, 24, 35, 1);
}

.video-length {
    margin-top: 4px;
}

.time,
.duration {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(22, 24, 35, 0.5);
}

.time {
    margin-right: 8px;
}

.icon-edit {
    color: var(--white);
}

// Split video
.split-video {
    flex: 1;
    margin-left: 12px;
    border: 0.5px dashed rgba(22, 24, 35, 0.75);
    height: 84px;
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.disable {
        border: 0.5px dashed rgba(22, 24, 35, 0.34);
        cursor: not-allowed !important;
    }
}

.change {
    // border: 0.5px solid rgba(22, 24, 35, 0.12);
    display: flex;
    align-items: center;
}

.text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.34);
    margin-bottom: 8px;
}

.btn-change {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    border: 0.5px solid rgba(22, 24, 35, 0.12);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.disable {
        cursor: not-allowed;
    }
}

.part-value {
    display: block;
    width: 48px;
    height: 32px;
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
    outline: none;
    background: transparent;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.split-btn {
    font-size: 1.6rem;
    font-family: 600;
    letter-spacing: 0.2px;

    &.disable {
        color: rgba(22, 24, 35, 0.34);
        pointer-events: none;
        cursor: not-allowed;

        .split-icon {
            color: rgba(22, 24, 35, 0.34);
        }
    }
}

// Upload video
.upload-video {
    padding: 24px 40px;
}

.header {
}

.heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: rgba(22, 24, 35, 1);
    margin-bottom: 12px;
}

.desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: rgba(22, 24, 35, 0.5);
    margin-bottom: 24px;
}

.content {
    display: flex;
}

// Form
.form {
    margin-left: 24px;
    flex: 1;
}

// User permission
.user-permission {
    margin-top: 12px;
}
.heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: rgba(22, 24, 35, 1);
}

.user-permission-checkboxs {
    display: flex;
    align-items: center;
}

.user-permission-checkbox-item {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.user-permission-checkbox {
    position: relative;
    margin-right: 10px;
    --size: 16px;
    width: var(--size);
    height: var(--size);
}

.user-permission-checkbox-inp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;

    &:hover ~ .user-permission-checkbox-icon {
        border: 1.5px solid rgb(234, 40, 78);
    }

    &:checked ~ .user-permission-checkbox-icon {
        background-color: rgba(254, 44, 85, 1);
    }
}

.user-permission-checkbox-icon {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(22, 24, 35, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

// Footer

.footer {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.btn-footer {
    width: 164px;
    height: 48px;
}
